<div class="login__wrapper h-100 space">
  <div class="logo">
    <span>STUB-</span><span class="color-mongo">M</span><span>E</span><span class="color-angular">A</span><span class="color-node">N</span>
  </div>
  <div class="form__wrapper">
    <div class="input__wrapper">
      <input type="text" placeholder="{{ 'label.username' | translate }}" />
    </div>
    <div class="input__wrapper">
      <input type="password" placeholder="{{ 'label.password' | translate }}" />
    </div>
    <div class="button__wrapper">
      <button>{{ 'label.login' | translate }}</button>
    </div>
  </div>
</div>