<div class="d-grid g-c1__auto-r3__35__auto__20 h-100">
  <app-header></app-header>
  <div class="content__wrapper">
    <div class="title__wrapper">
      <span class="title">STUB-MEAN</span>
    </div>
    <div class="description__wrapper">
      <span class="description">
        {{ 'stub.mean.description' | translate }}
      </span>
    </div>
    <div class="actions__wrapper">
      <div class="action">{{ 'label.get.started' | translate }}</div>
    </div>
  </div>
  <app-footer></app-footer>
</div>