$color-dark:#010C0D;
$color-light: #F9FEFC; 

$color-mongo: rgb(105, 178, 65);
$color-angular: rgb(213,0,0);
$color-node: #026e00;

$color-amarillo-land: #fefe00;

$color-bg-space: #f3f5f7;
$color-bg-input-space: #dcdee4;
$color-btn-space: #21FF51;
$color-btn-2-space: #1CEF4A;